<!doctype html>
<html lang="en" ng-app="nutrition">
<head>
    <meta charset="utf-8">
    <title>Nutritions</title>
    @Styles.Render("~/Content/css")
        
        <script src="//angular.github.io/angular-phonecat/step-2/app/bower_components/angular/angular.js"></script>
    <script src="/scripts/foods.js"></script>
</head>
<body ng-controller="foods">
    <ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
</body>
</html>