<!doctype html>
<html lang="en" ng-app="nutritionApp">
<head>
    <meta charset="utf-8">
    <title>Nutritions</title>
    @Styles.Render("~/Content/css")
    <script src="//angular.github.io/angular-phonecat/step-2/app/bower_components/angular/angular.js"></script>
    <script src="/scripts/foods.js"></script>
</head>
<body ng-controller="nutrition">
    <ul>
        <li ng-repeat="food in foods">
            <span>{{phone.Name}}</span>
            <p>{{phone.Fat}}</p>
        </li>
    </ul>
</body>
</html>