<!doctype html>
<html lang="en" ng-app="nutritionApp">
<head>
    <meta charset="utf-8">
    <title>Nutritions</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="input-group">
        <div class="input-group-addon">&gt;</div>
        <input ng-model="query" type="text" class="form-control" placeholder="Filter..." />
    </div>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" ng-controller="nutrition">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>Fat</td>
                <td>Fat %</td>
                <td>Carb</td>
                <td>Carb %</td>
                <td>Protien</td>
                <td>Protien %</td>
                <td>Calories per 100g</td>
                <td>Grams</td>
            </tr>
        </thead>
        <tr ng-repeat="food in foods | filter:query">
            <td>
                <div class="checkbox" ng-controller="picked">
                    <label>
                        <input type="checkbox" ng-model="confirmed" ng-change="change()" value="">
                    </label>
                </div>
            </td>
            <td>{{food.Name}} </td>
            <td>{{food.Fat}}</td>
            <td>{{((food.Fat /(food.Fat + food.Carb + food.Protien)) * 100).toFixed(2)}}%</td>
            <td>{{food.Carb}}</td>
            <td>{{((food.Carb /(food.Fat + food.Carb + food.Protien)) * 100).toFixed(2)}}%</td>
            <td>{{food.Protien}}</td>
            <td>{{((food.Protien /(food.Fat + food.Carb + food.Protien)) * 100).toFixed(2)}}%</td>
            <td>{{food.CalPerHundred}}</td>
            <td>100</td>
        </tr>
    </table>
    <script src="//angular.github.io/angular-phonecat/step-2/app/bower_components/angular/angular.js"></script>
    <script src="/scripts/foods.js"></script>
</body>
</html>